* {
    margin: 0;
    padding: 0;
    
}

.container {
    display: flex;
    flex-direction: column;
    
}

.header {
    display: flex;
    flex-direction: column;

    background-image: linear-gradient(
    65deg,
    hsl(226deg 51% 19%) 0%,
    hsl(225deg 53% 23%) 11%,
    hsl(224deg 54% 27%) 22%,
    hsl(224deg 55% 31%) 33%,
    hsl(224deg 56% 35%) 44%,
    hsl(223deg 57% 39%) 56%,
    hsl(223deg 58% 43%) 67%,
    hsl(223deg 58% 47%) 78%,
    hsl(223deg 61% 51%) 89%,
    hsl(223deg 73% 56%) 100%
    );
    color: white;
    font-weight: bold;
    font-family: Inter;
    font-size: 22px;
    
    padding: 70px;
    padding-bottom: 70px;
    align-items: center;
    justify-content: space-around;
}

#mainNumber {
    font-size: 120px;
    padding-top: 70px;
}

.body {
    display: flex;
    flex-direction: column;
    background: #10151d;
    justify-content: space-around;
    gap: 20px;

    color: white;
    align-items: center;
    font-family: Inter;
    font-size: 22px;

    padding-top: 50px;
    padding-bottom: 75px;
}

#length, #mass, #volume {
    display: flex;
    color:#D2D2D2;

}